# essential
numpy>=1.3.0
scipy>=0.10
quantities>=0.9.0
matplotlib>=1.1.0
neo>=0.3
sqlalchemy>=0.7.8
sqlalchemy-migrate>=0.7.2
pyqtgraph>=223
pyqtgraph
guidata
PyQT4
joblib
tables
python-sklearn
pandas
cython

